<!--  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
	ID: <input type="number" name="demo_id" id="demo_id"/>
	Email: <input type="email" name="demo_email" id="demo_email"/>
	UserName : <input type="text" name="demo_name" id="demo_name"/>
	
	<input type="button" name="getCourses" id="getCourses" value="GET DATA" onclick="getDataFromAPI()"></input>
	<input type="button" name="addCourse" id="addCourse" value="POST DATA" onclick="postDataFromAPI()"></input>
	
	
</body>
</html>
-->